<div class="card-table">

  <p-table #dt [columns]="cols" [value]="products" [paginator]="true" [rows]="5">

    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        Listagem de Produtos
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input type="text" pInputText size="30" placeholder="Buscar"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </span>
        <button pButton pRipple label="Novo Produto" routerLink="../add" icon="pi pi-plus"
          class=" p-d-inline-block p-mr-2"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Código ERP</th>
        <th>Apresentação</th>
        <th>Nome Comercial</th>
        <th>Nome Comercial com Apresentação</th>
        <th>Unidade Medida Anvisa</th>
        <th>Código Barras Principal</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.id}}</td>
        <td>{{product.codigoErp}}</td>
        <td>{{product.apresentacao}}</td>
        <td>{{product.nomeComercial}}</td>
        <td>{{product.nomeComercialComApresentacao}}</td>
        <td>{{product.unidadeMedidaAnvisa}}</td>
        <td>{{product.codigoBarrasPrincipal}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="showDialogToAdd(product.id)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteProduct(product.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-dialog header="Editar Produto" [(visible)]="displayDialog" [focusOnShow]="false" showEffect="fade" [modal]="true"
  [style]="{width: '600px'}">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" >
    <div class="p-fluid p-formgrid p-grid" *ngIf="product">

      <div class="p-field p-col-12 p-md-6">
        <label for="id">ID</label>
        <input pInputText id="id" formControlName="id" autofocus />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="codigoErp">Código ERP</label>
        <input pInputText id="codigoErp" formControlName="codigoErp" />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="apresentacao">Apresentação</label>
        <input pInputText id="apresentacao" formControlName="apresentacao" />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="nomeComercial">Nome Comercial</label>
        <input pInputText id="nomeComercial" formControlName="nomeComercial" />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="nomeComercialComApresentacao">Nome Comercial com Apresentação</label>
        <input pInputText id="nomeComercialComApresentacao" formControlName="nomeComercialComApresentacao" />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="unidadeMedidaAnvisa">Unidade Medida Anvisa</label>
        <input pInputText id="unidadeMedidaAnvisa" formControlName="unidadeMedidaAnvisa" />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="codigoBarrasPrincipal">Código Barras Principal</label>
        <input pInputText id="codigoBarrasPrincipal" formControlName="codigoBarrasPrincipal" />
      </div>

    </div>
  </form>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Voltar"></button>
      <button type="button" pButton icon="pi pi-check" (click)="editProduct()" label="Salvar"></button>
    </div>
  </p-footer>
</p-dialog>
